/**
 * Request Rate Timeline Widget Styles
 */

@use '../../styles/variables.scss' as *;

.controls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $space-md;
  gap: $space-sm;
}

.chartContainer {
  width: 100%;
  min-height: 200px;
}
