.logo {
    float: left;
    margin-left: -24px;
    h3 {
        color: var(--text-inverse);
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        font-size: 32px;
        letter-spacing: 7px;
        line-height: 1.3;
        margin-top: 8px
    }
}